pkgbase = aur-maintainer-test
	pkgdesc = Test package for aur-maintainer update flow
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/soker90/pruebas
	arch = any
	license = MIT
	pkgname = aur-maintainer-test
